body {
    background-image:url("images/Home_1.png");
    background-size: cover;
}

.h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


.grid-container > div {
    background: #85929400;
    color: rgba(62, 179, 214, 0.13);
    border-radius: 4px;
    padding: 1em;
    margin: 0 0 1em;
    width: 300px;
  }
  .grid-item:nth-child(even) > div {
    background: #27b4a8;
  }
  
  .grid-item:nth-child(odd) > div {
    background: #f4645f;
  }

  .myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}